.nav{
    padding: 1rem;
    position: fixed;
    bottom: 1rem;
    left: 30%;
    right: 30%;
    text-align: center;
    background-color: #4a4a4a;
    border-radius: 30px;
    .nav-item{
        margin: 0 .5rem;
        color: #bdbdbd;
    }
}